allow mediaserver socket_device:sock_file write;
allow mediaserver system_file:file execmod;
allow system_server sysfs_usb_supply:dir search;
allow system_server sysfs_usb_supply:file { read getattr open };
